## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg
*.snupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## NuGet
**/packages/*
*.nuget.props
*.nuget.targets
project.lock.json

## IDE
.idea/
*.swp
*~
.vscode/

## OS
.DS_Store
Thumbs.db

## App data
data/
